.container {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-large);
}

.logo {
    width: 60px;
    height: 60px;
    margin-right: 30px;
    object-fit: cover;
    object-position: center center;
}

.list__container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list__container a {
    display: block;
    margin: 0 10px;
    padding: 7px 10px;
    min-width: 70px;
    border: 2px solid transparent;
    border-radius: var(--border-radius-small);
    color: var(--theme-default-color);
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: var(--font-bold);
    transition: var(--transition);
}

.list__container :global(a.active) {
    border: 2px solid #ae72c2;
    color: #ae72c2;
}

.shop_cart {
    position: relative;
    left: 300px;
}

.sing_in{
    position: relative;
    top: 3px;
    left: 300px;
}